.challengeTitle {
  text-align: center;
}


.tableContainer {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.bucketsChallengeTable tr td,
.bucketsChallengeTable thead td {
  text-align: center;
  border: 1px solid rgb(131, 131, 131);

}

tr:nth-child(even) {
  background-color: #383838
}

.bucketsChallengeTable thead td {
  font-weight: 700;
}
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.error {
  text-align: center;
  color: rgb(240, 96, 96);
  margin: 0;
}

.noError {
  text-align: center;
  color: rgb(60, 206, 116);
  margin: 0;
}

.solvedText {
  color: rgb(60, 206, 116);
  text-align: center;
  width: 100%;
}