.challengeTitle {
  text-align: center;
}

.error {
  text-align: center;
  color: rgb(240, 96, 96);
  margin: 0;
}

.noError {
  text-align: center;
  color: rgb(60, 206, 116);
  margin: 0;
}

.solvedText {
  color: rgb(60, 206, 116);
  text-align: center;
  width: 100%;
}